.home-bg-img {
    background-image: url('../../public/home-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#perfil, #inventario, #ip-list, #new-perfil {
    display: flex;
}